body{font-family: Georgia, 'Times New Roman', Times, serif;
background-image: url(https://src.img.photos/2019/04/04/Pdokc.jpg);
background-position: center;
 background-size: cover;
 width: 100%;
 height: 100vh;
}
main{clear:both;
    max-width:960px;
     margin:0 auto;
    margin-top:20px; 
    padding:10px;
    vertical-align:center;
    font-size: 20px;
   
}
header{
    background-color: rgba(187, 125, 189, 0.9);
    height:160px;
    position: relative;
}
#logo{
    float:left;
    margin:0px auto;
    width:150px;
    height:150px;
    border:2px solid rgb(221, 245, 245);
    background-color: rgb(132, 111, 165);
    border-radius:50%;
  
}
h1{
    background-color: rgba(146, 106, 170, 0.9);
    padding:10px;
    font-size: 35px;
}
h2{
    margin: 30px auto 20px 0px;
}
.nav{
    display:flex;
    justify-content: flex-start;
    max-width: 960px;
    font-size: 25px;
}

.nav p{
padding-right:20px;
padding-inline-start: 0px;
}
a:visited{
    color:rgb(116, 43, 116);
}
a:link{
    color:rgb(144, 104, 238);
}
table{text-align: center;
    border:2px solid black;
}

tr:nth-child(2n) { 
background-color: rgb(196, 132, 180);
 }
 tr:nth-child(2n+1) { 
    background-color: rgb(180, 128, 223);
}
td{
    width:25px;
    height:15px ;
}
footer{
    background-color: rgba(45, 27, 58, 0.5);
    height:100px;
}
footer p{
    padding: 30px;
}
