body{font-family: Georgia, 'Times New Roman', Times, serif;
background-image: url(https://www.frederikvercruysse.be/content/blauw-6983_001.jpg);
 }
main{clear:both;
    max-width:960px;
     margin:0 auto;
    margin-top:20px; 
    padding:10px;
    vertical-align:center;
    font-size: 14px;
   
}
header{
    background-color: rgb(174, 211, 211);
}
#logo{
    float:left;
    margin:10px;
    width:200px;
    height:200px;
    border-radius:60%;
}
h1{
    background-color: azure;
    padding:10px;
    font-size: 20px;
}
nav{
    
    display:inline-block;
    margin:10px;
    max-width: 960px;
}

tr:nth-child(2n) { 
background-color: rgb(182, 230, 236);
 }
 tr:nth-child(2n+1) { 
    background-color: rgb(232, 199, 235);
     }
footer{
    background-color: rgb(123, 180, 190);
    height:30px;
}
