body{font-family: Georgia, 'Times New Roman', Times, serif;
background-image: url(https://img1.goodfon.ru/original/2430x2160/f/8d/nebo-oboi-gory-android-zakat.jpg);
 }
main{clear:both;
    max-width:960px;
     margin:0 auto;
    margin-top:20px; 
    padding:10px;
    vertical-align:center;
    font-size: 14px;
   
}
header{
    background-color: rgb(187, 125, 189);
}
#logo{
    float:left;
    margin:10px;
    width:200px;
    height:200px;
    border-radius:60%;
}
h1{
    background-color: rgb(202, 175, 219);
    padding:10px;
    font-size: 20px;
}
nav{
    
    display:inline-block;
    margin:10px;
    max-width: 960px;
}

tr:nth-child(2n) { 
background-color: rgb(196, 132, 141);
 }
 tr:nth-child(2n+1) { 
    background-color: rgb(156, 146, 170);
}
td{
    width:25px;
    height:15px ;
}
footer{
    background-color: rgba(45, 27, 58, 0.5);
    height:30px;
}
